POSTGRES_HOST=localhost
POSTGRES_DB=puretrace_db_development
POSTGRES_USER=puretrace_usr
POSTGRES_PORT=5432
POSTGRES_PASSWORD=puretrace_pass
DATABASE_URL=postgresql://puretrace_usr:puretrace_pass@localhost:5432/puretrace_db